!!!
%html
  %head
    %title#content.wow{a => 'hello'} Hello World
  %body
    .wow hhaha
      <?php echo('wuttup'); ?>
      %strong{'class' => "code", 'id' => "message"} Hello, World! <?= 'howdy' ?>
      %b Hello World
      load(include_me)
      %peanutbutterjelly
        / This is the peanutbutterjelly element
        .helloa <?= $wow ?>
        #woa was
        %br/
    #foo=   $wow
      hahaa
      %b{'class' => 'type'}= $hello
    %sandwich{'delicious' => 'true', 'more' => 'okay'}
    .wowaa he
      |<?php echo('wuttup'); ?>
        |<?php echo('wuttup'); ?>
          #wow howzit
        |<?php echo('wuttup'); ?>
      |<?php echo('wuttup'); ?>
    %ul
      %li <?= 'hello' ?> jadsf <?= 'aa' ?>
      %li Pepper
      / heloaf