!!!
%html
  %head
    %title#content.wow{a => 'hello'} Hello World
  %body
    .wow hhaha
      %strong{'class' => "code", 'id' => "message"} Hello, World! <? 'howdy' ?>
      %b Hello World
      %peanutbutterjelly
        / This is the peanutbutterjelly element
        .helloa <?= $wow ?>
        #woa was
        %br/
    #foo=   $wow
      hahaa
      %b{'class' => 'type'}= $hello
    %sandwich{'delicious' => 'true', 'more' = 'okay'}
    .wowaa he
      |<?php echo('wuttup'); ?>
    |<?php echo('wuttup'); ?>
      |<?php echo('wuttup'); ?>
        #wow.escape
      |<?php echo('okay') ?>
    |<?php echo('wuttup'); ?>
    %ul
      %li <?php 'hello' ?> jadsf <?php 'aa' ?>
      %li Pepper
      / heloaf